# Local data folder (root level only)
/data/

# Attachments folder
discord/attachments

# VS Code and Python cache
__pycache__/
.vscode/
discord/__pycache__
.venv/

# ENV file
.env

# yfinance cache file
yfinance.cache
http_cache.sqlite

# Logging
logs/

# Claude
.claude/
CLAUDE.md

#setuptools-egg-info
*.egg-info/