#Config
config.json

#Data folder
data/

#Attachments folder
discord/attachments

# VS Code and Python cache
__pycache__/
.vscode/
discord/__pycache__

#ENV file
.env

# yfinance cache file
yfinance.cache
http_cache.sqlite