# Discord
DISCORD_TOKEN=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Schwab API
SCHWAB_API_KEY=
SCHWAB_SECRET=

# External APIs
NASDAQ_API_KEY=
NEWS_API_KEY=
EODHD_API_TOKEN=
DOLTHUB_API_TOKEN=

# Timezone
TZ=America/Chicago
