APScheduler
#aiohttp
#yarl
#frozenlist
discord
discord.py
pandas
pandas-datareader
#scipy
yfinance
pandas-ta
numpy==1.26.4
matplotlib
#setuptools 
mplfinance
#requests_cache
#requests_ratelimiter
Backtesting
tradingview_screener
newsapi-python
table2ascii
psycopg2-binary
ratelimit