APScheduler
discord
pandas-datareader
yfinance
pandas-ta
numpy==1.26.4
mplfinance
Backtesting
tradingview_screener
newsapi-python
table2ascii
psycopg2-binary
ratelimit
pandas_market_calendars
schwab-py
beautifulsoup4